<%- include("header") -%>
<h1 class="center col-md-4 user-history-heading mx-auto">
    Successfull!
 </h1>
<div class="center col-md-6 mx-md-auto ">
    <div class="success">
        <P class="success-para">You transfered Rs.<%= balance %> into account of
            <%= anotherPerson%></P>
        <p class="success-para">& your remaining balance is Rs.<%= remainingBalance %></p>
        <!-- <button class="success-button"><a class="OK" href="/">OK</a></button> -->
        <a class="OK" href="/"><button class="success-button">OK</button></a>
    </div>
</div>

<%- include("footer")-%>
